<%= form_with model: @article, local: true do |form| %>
<% if @article.errors.any? %>
  <div class="alert alert-warning" role="alert">
    <h4>
      <%= pluralize(@article.errors.count, "error") %>
      prohibited this article from being saved:
    </h4>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form-group">
  <%= form.label :title, for:'inputTitle' %>
  <%= form.text_field :title, id:'inputTitle', class:'form-control' %>
</div>
<div class="form-group">
  <%= form.label :text, for:'inputText' %>
  <%= form.text_area :text, id:'inputText', class:'form-control', rows: '20' %>
</div>

<div class="form-group">
  <%= form.label :attachment, for:'inputAttachment' %>
  <%= form.file_field :attachment, id:'inputAttachment', class:'form-control' %>
</div>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Back', articles_path, class:'btn btn-default' %>
<% end %>
