<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-small pull-left">Listing articles</h4>
        <%= link_to 'New article', new_article_path, class: "btn btn-primary pull-right" %>
      <div class="clearfix">

      </div>

    </div>
    <div class="panel-body">
      <table cellspacing="0" class="table" id="dataTable" width="100%">
        <thead>
          <tr>
            <th width="2%" align="left"><input type="checkbox" name="article-all" value=""></th>
            <th width="5%" align="left">#</th>
            <th width="45%">Title</th>
            <th>Image</th>
            <th width="8%" align="left">Comments</th>
            <th width="100">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td align="left"><input type="checkbox" name="article-<%= article.id %>" value="<%= article.id %>"></td>
              <td align="left">
                <%= link_to(article_path(article)) do %>
                <%= article.id %>
              <% end %>
            </td>
            <td>
              <%= link_to(article_path(article)) do %>
              <%= article.title %>
            <% end %>
          </td>

          <td><img src="<%=article.attachment_url%>" alt="" width="250"></td>
          <td align="left">
            <%= article.comments.count %>
          </td>
          <td>
            <%= link_to(edit_article_path(article)) do %>
            <i aria-hidden="true" class="fa fa-pencil"></i>
          <% end %>&nbsp;
          <%= link_to(article_path(article), method: :delete, data: { confirm: 'Are you sure?' }) do %>
          <i aria-hidden="true" class="fa fa-trash"></i>
          <% end %>
        </td>
    </tr>
  <% end %>
</tbody>
</table>
<%= will_paginate @article %>
</div>
</div>

</div>
