.container-fluid
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h4= @article.title
      %hr/
      %p
        = @article.text
      = link_to 'Edit', edit_article_path(@article)
      %hr/
      %dl
        %dt Attachment:
        %dd
          %i.fa.fa-paperclip{"aria-hidden" => "true"}
          %a{:href => "#{@article.attachment_url}"}= File.basename @article.attachment.to_s
  %hr/
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h4 Comments
      = render @article.comments
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h4 Add a comment:
      = render 'comments/form'
