<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4><%= @article.title %></h4>
            <hr/>
            <p>
                <%= @article.text %>
            </p>
            <%= link_to 'Edit', edit_article_path(@article) %>

            <hr>
            <dl class="">
              <dt>Attachment: </dt>
              <dd><i class="fa fa-paperclip" aria-hidden="true"></i> <a href="<%= @article.attachment_url %>"><%=File.basename @article.attachment.to_s %></a>
                </dd>
            </dl>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>Comments</h4>
            <%= render @article.comments %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>Add a comment:</h4>
            <%= render 'comments/form' %>
        </div>
    </div>
</div>
