

<div class="container-fluid">

<p id="notice"><%= notice %></p>

<h4>Users</h4>

<table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
  <thead>
    <tr>
      <th width="25%">Name</th>
      <th>Email</th>
      <th>Password</th>
      <th width="15%"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%=
        if user.password_digest
          '******'
        else
          ''
        end
         %></td>
        <td><%= link_to 'Show', user %> <%= link_to 'Edit', edit_user_path(user) %> <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

</div>
