<div class="container-fluid">
	<%=@a %>
	<hr>
	<%=@b %>
	<hr>
	<%=@c %>
	<hr>
	<ol>
		<% i=0 %>
		<%
		@tutorials.each do |tutorial| %>
		<li><%= i %> .<%= tutorial.title %></li>
		<% i +=1 %>
		<% end %>
	</ol>
	<hr>
	<ol>
		<%
		i = 0
		num = @tutorials.length
		while i < num  do
		%>
		<li><%= @tutorials[i].title %></li>
		<%
		i += 1
		end
		%>
	</ol>
	<hr>
	<hr>
	<hr>
	<!-- <p><%= @range2 %></p> -->
</div>
