<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="" id="page-top">
    <%= yield %>
    <footer class="footer navbar-fixed-bottom">
      <div class="container-fluid">
        <p class="text-right">Copyright &copy; by Rails Tutorial 2017.</p>
      </div>
    </footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
